.container {
  display: flex;
}

.image-container {
  flex: 1;
  width: 300px;
  height: 730px;
  width: 750px;
}

.imgDesign {
  height: 32px;
  width: 45px;
}

.content-container {
  flex: 1;
  background-color: lightgreen;
  height: 550px;
  border-radius: 10px;
}
.description-container {
  margin-right: 30px;
  background-color: lightgoldenrodyellow;
  border-radius: 5px;
  display: flex;
  margin-bottom: 7px;
  margin-top:7px;
  justify-content: space-between;
  align-items: center;
  word-wrap: break-word;
  min-width: 300px;
  text-align: left;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  margin-left:15px;
}
